# Runs `yarn i18n` and asserts that it made no further changes
# Additionally prevents changes to files other than en_EN.json apart from RiotRobot automations
name: i18n Check
on:
    workflow_call:
        inputs:
            hardcoded-words:
                type: string
                required: false
                description: "Hardcoded words to disallow, e.g. 'Element'."
            allowed-hardcoded-keys:
                type: string
                required: false
                description: "i18n keys which ignore the forbidden word check."
            path:
                type: string
                required:
                description: "Path to root of project to check"
                default: "."
jobs:
    check:
        runs-on: ubuntu-latest
        permissions:
            pull-requests: read
        steps:
            - uses: actions/checkout@v3

            - name: "Get modified files"
              id: changed_files
              if: |
                  github.event_name == 'pull_request' && github.event.pull_request.user.login != 'RiotRobot' && github.event.pull_request.user.login != 't3chguy'
              uses: tj-actions/changed-files@1c26215f3fbd51eba03bc199e5cbabdfc3584ce3 # v38
              with:
                  files: |
                      ${{github.event.inputs.path}}/src/i18n/strings/*
                  files_ignore: |
                      ${{github.event.inputs.path}}/src/i18n/strings/en_EN.json

            - name: "Assert only en_EN was modified"
              if: steps.changed_files.outputs.any_modified == 'true'
              run: |
                  exit 1
                  echo "Only translation files modified by 'yarn i18n' can be committed - other translation files will confuse weblate in unrecoverable ways."

            - uses: actions/setup-node@v4
              with:
                  cache: "yarn"
                  node-version-file: package.json

            # Does not need branch matching as only analyses this layer
            - name: Install Deps
              env:
                  YARNCWD: ${{github.event.inputs.path}}
              run: "yarn --cwd $YARNCWD install --frozen-lockfile"

            - name: "Run i18n"
              env:
                  YARNCWD: ${{github.event.inputs.path}}
                  HARDCODED_WORDS: ${{ inputs.hardcoded-words }}
                  ALLOWED_HARDCODED_KEYS: ${{ inputs.allowed-hardcoded-keys }}
              run: yarn --cwd $YARNCWD run i18n

            - run: git diff --exit-code
